.fa-angle-double-down{
    position: absolute;
    bottom: 15px;
    left: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    color: #2c2d2e;
    display: none;
    &:hover{
        color:black;
    }
}

@media only screen and (min-width: 768px){
    .fa-angle-double-down{
        display: block;
    }
}